/* ============ Global Styles ============ */
:root {
  --primary-color: #fda81b;
  --secondary-color: #316cca;
  --background-color: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/* ============ Header ============ */
header {
  background-color: #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

header .logo img {
  width: 40px;
  margin-right: 10px;
}

header .logo a {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary-color);
  text-decoration: none;
}
header .logo h5 {
  margin-bottom: 0;
  font-weight: bold;
}
header .user-info a i {
  font-size: 18px;
}
header .user-info #cartCount {
  position: absolute;
  top: -10px;
  right: -12px;
}

/* ============ Registration Pages ============ */
.registration {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.registration form input {
  border: 1px solid var(--primary-color);
}
.registration form input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--primary-color);
}

/* ============ btn go to Up ============ */
#goToUp a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  text-decoration: none;
}
#goToUp a:hover {
  animation: upDown 0.5s infinite;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ============ Home Section ============ */
#home h1 span {
  color: var(--primary-color);
  font-weight: bold;
}

/* ============ Products ============ */
#allProducts {
  /* display: grid; */
  /* grid-template-col1umns: repeat(auto-fill, minmax(230px, 1fr)); */
  /* gap: 20px; */
  /* max-width: 1200px; */
  /* margin: auto; */
}
.product-card {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  height: 200px;
  max-width: 100%;
  cursor: pointer;
}

.product-card h4 {
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}
.product-card h4:hover {
  color: var(--primary-color);
}

/* ============ Cart Page ============ */
.cart-item {
  cursor: pointer;
  transition: 0.3s;
}
.cart-item:hover {
  border: 2px solid var(--primary-color);
}
.cart-item h4 {
  transition: 0.5s;
}
.cart-item:hover h4 {
  color: var(--primary-color);
}

.table img {
  max-width: 120px;
  height: auto;
  object-fit: contain;
}
.table td,
.table th {
  vertical-align: middle !important;
}
